<div id="cajaChat">
  <h1 id="chat">realTimeProducts</h1>
</div>

<input type="text" id="chatBox" />
<p id="productLogs"></p>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>